.block {
  background: white;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  flex-grow: 1;
  flex-basis: 50%;
}

.title {
  margin: 0 0 1rem 0;
  color: #666;
  font-weight: normal;
}

.button {
  background: #333;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.button:hover {
  background: #111;
}

.button:active {
  background: #111;
}
